@page "/"

<PageTitle>Home</PageTitle>

<div class="container align-items-center justify-content-center w-auto h-auto bg-primary gap-2">
    <h1 class="w-auto text-center">CRUD Ferramentas</h1>

</div>

@code
{

}