@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row justify-content-center">
            <span class="text-black ">Teste Dev Júnior R-Hex</span>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </main>
</div>